<mat-toolbar id="header">
  <button id="menu" class="btnMenu" mat-fab (click)="toggleMenu()">
    <mat-icon color="primary">{{iconMenu}}</mat-icon>
  </button>
  <span id="fill-remaining-space"></span>
  <span id="title">Severini official site</span>
</mat-toolbar>

<mat-toolbar id="menuIcons" color="primary" *ngIf="menuOpen">
  <ng-container *ngFor="let el of getNamePages(); let i = index">
    <mat-toolbar-row *ngIf="el != getPageSel(); else selected" (click)="setNewVoice(el)">
      <button mat-fab color="primary" class="btnMenu">
        <mat-icon>{{ICONS[i]}}</mat-icon>
      </button>
      <div class="menuComponent"><p>{{el}}</p></div>
    </mat-toolbar-row>
    <ng-template #selected>
      <mat-toolbar-row class="selected">
        <button mat-fab class="btnMenu selected">
          <mat-icon>{{ICONS[i]}}</mat-icon>
        </button>
        <div class="menuComponent selected"><p>{{el}}</p></div>
      </mat-toolbar-row>
    </ng-template>
  </ng-container>
</mat-toolbar>
